.state {
  height: 15.3px;
  width: 188.75px;
  color: #454545;
  font-family: 'Helvetica Neue';
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 15px;
}

.enabled {
  height: 14.3px;
  width: 267.91px;
  color: #454545;
  font-family: 'Helvetica Neue';
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14px;
}

.modelSubtitle {
  height: 17px;
  width: 162px;
  color: #3f3f3f;
  font-family: 'Helvetica Neue';
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
}

.featureText {
  color: #3f3f3f;
  font-family: 'SF Pro Text';
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
}

.configTitle {
  height: 22px;
  width: 100px;
  color: #999999;
  font-family: 'Helvetica Neue';
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
  text-align: justify;
}

.fieldsSubtitle {
  height: 32px;
  width: 692px;
  color: #69707d;
  font-family: Helvetica;
  font-size: 12px;
  letter-spacing: -0.06px;
  line-height: 16px;
}
